footer
  position: absolute
  left: 0
  bottom: 0
  height: 7rem
  width: 100%
  overflow:hidden

  .openjub-logo
    width: 6.33rem
    height: 4rem
    margin-left: auto
    margin-right: auto
    background-size: cover
    background-repeat: no-repeat
    background-image: url(/images/logo_plain.png)
