lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

dist
pids
logs
results
data

npm-debug.log
node_modules
bower_components
.sass-cache
.tmp

*.sublime-workspace
*.sublime-project
.DS_Store

settings.json
/docs
tasks/exportWhoIsJack
