<div class="row suggestion-list person-list">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2 person-view">
    <div class="row">
      <div class="col-xs-8 col-sm-4 col-md-2 col-lg-2">
        <img class="img-thumbnail img-responsive" ng-src="http://localhost:6969/user/{{user.username}}/image.jpg">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        <h2 ng-show="user.fullName">
          {{user.fullName}} <small>- <a href="mailto:{{user.email}}" target="_blank">{{user.email}}</a></small><br>
          <small ng-bind="user.major || user.majorShort"></small> - <small ng-show="user.year">Class of 20{{user.year}}</small>
        </h2>
        <hr>
        <div class="row">
          <div class="col-xs-3 text-right">
            <strong>Nationality</strong>
          </div>
          <div class="col-xs-9">
            <img ng-hide="user.country === 'Stateless'" src="http://swebtst01.public.jacobs-university.de/jPeople/embed_assets/flags/{{user.country}}.png">
            &nbsp; &nbsp;<span ng-bind="user.country"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 text-right">
            <strong>College</strong>
          </div>
          <div class="col-xs-9">
            <span ng-bind="user.college || 'None'"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 text-right">
            <strong>Room</strong>
          </div>
          <div class="col-xs-9">
            <span ng-bind="user.room || 'N/A'"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 text-right">
            <strong>E-Mail</strong>
          </div>
          <div class="col-xs-9">
            <a href="mailto:{{user.email}}" target="_blank">{{user.email}}</a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 text-right">
            <strong>Phone</strong>
          </div>
          <div class="col-xs-9">
            <a href="tel:{{(user.phone.length > 4) ? user.phone : ('+49 421 200 '+user.phone)}}" target="_blank">{{(user.phone.length > 4) ? user.phone : ('+49 421 200 '+user.phone)}}</a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 text-right">
            <strong>Status</strong>
          </div>
          <div class="col-xs-9">
            <span ng-bind="s.room || 'N/A'"></span>
          </div>
        </div>
        <div class="row" ng-show="user.favorites">
          <div class="col-xs-3 text-right">
            <strong>Favorites</strong>
          </div>
          <div class="col-xs-9 well">
            <a ng-href="/view/{{f}}" ng-repeat="f in user.favorites"><img ng-src="http://localhost:6969/user/{{f}}/image.jpg" class="img-thumbnail"/></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>